/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*
    body {
        background-image: url('../css/img/pattern.png');
    }*/
    /*FUENTES*/
    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('fonts/websymbols-regular-webfont.eot');
        src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/websymbols-regular-webfont.woff') format('woff'),
            url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
            url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .symbolitos {
        font-family: "WebSymbolsRegular";
    }

    .bebas {
        font-family: "BebasNeue";
    }

    .trebuchet {
        font-family: "TrebuchetMS";
    }
}

@layer components {
    .menu-item-a {
        @apply block transition duration-200 transform hover:text-azul-claro hover:scale-125;
    }

    .text-banner {
        font-family: "BebasNeue";
        text-shadow: 2px 2px 1px black;
    }

    .card {
        @apply border border-gray-200 shadow-card overflow-hidden
        flex flex-col items-center p-5 pt-7
        bg-white
        duration-300
        cursor-pointer
        hover:bg-black
        w-40
        sm:flex-1
        sm:w-full
        group;
    }

    .card-icon {
        @apply font-symbol text-5xl pb-5
        group-hover:text-azul-claro
        duration-200
        group-hover:transform
        group-hover:scale-150
        group-hover:animate-card-icon
        ;
    }

    .card-category {
        @apply font-trebuchet text-xl text-azu-card-title pb-5
        group-hover:text-white group-hover:animate-card-category;
    }

    .card-description {
        @apply font-trebuchet text-sm text-azul-oscuro
        hidden
        group-hover:text-white group-hover:animate-card-description
        sm:block;
    }

    .section-title-3d {
        @apply bg-titles-texture bg-white font-bebas shadow-section-title flex items-center justify-start
        tracking-widest pl-4;
    }
}